/*.btn {
    display: inline-block;
    background: rgb(17, 8, 95);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
}*/